:root {

/*  App  */
	 /*Body*/
		--body-bg: #f8fafc;
		--color-base: #2c2c2a;
		--container-bg: #bbb;
	 /*Header*/
		--header-bg: #aaa;
		--nav-item-hover-bg: #bbb;

 /*Typography*/
	--font-family: 'Poppins', sans-serif;
	--font-size-base: 0.9rem;
	--line-height-base: 1.6;

 /*Invalid*/
	--invalid-color: #a44;
	--invalid-bg: #b22;
	--invalid-bd: #d11;

 /*Alert*/
	 /*Success*/
		--alert-success-bg: #5d8;
		--alert-success-bd: 1px solid #295;
	 /*Error*/
		--alert-error-bg: #d55;
		--alert-error-bd: 1px solid #922;


 /*Adaptive*/
	--screen-sm: 576px;
	--screen-md: 768px;
	--screen-lg: 992px;
	--screen-xl: 1200px;
}

 /*                   Theme                   */

[dark] {
	--color-base: #cacfcd;
	--body-bg: #222;
	--header-bg: #444;
	--nav-item-hover-bg: #777;
	--container-bg: #333;
} 
