@import url("_variables.css");

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

//App
body {
	color: var(--color-base);
	background: var(--body-bg);
	font-family: var(--font-family);
}
img {
	height: 100%;
	width: 100%;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 25px;
}

@import "header.scss";

@import "main.scss";

.tags_list, .genres_list {
	display: flex;
	li {
		margin-left: 7px;
	}
}

// Alert
.alert {
	.alert_error {
		background: var(--alert-error-bg);
		border: var(--alert-error-bd);
	}
	.alert_success {
		background: var(--alert-success-bg);
		border: var(--alert-success-bd);
	}
}

// Invalid
.is-invalid {
	background-color: var(--invalid-color);
	border-color: var(--invalid-bd);
}
.invalid-feedback{
	color: var(--invalid-color);
}
// User card
.user_card{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;

	.user_avatar {
		height: 400px;
		width: 400px;	
	}
	.user_name {

		h1 {
			font-size: 50px;
		}
	}
}