header {
	display: grid;
	height: 50px;
	padding-right: 150px;
	padding-left: 150px;
	background: var(--header-bg);
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;

	.brand {
		align-self: center;
		justify-self: start;
	}
	.navbar {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;

		.nav-item {
			display: flex;
			padding: 5px;
			align-items: center;

			&:hover {
				background: var(--nav-item-hover-bg);
			}
		}
		.dropdown {
			display: flex;
			justify-content: center;
			width: 150px;
			position: relative;

			&:hover .dropdown-menu {
				width: 100%;
				display: block;

			}
			.dropdown-lebel {
				display: flex;
				text-decoration: none;
				align-items: center;
				transition: all, .5s;

				&:hover {
					background: var(--nav-item-hover-bg);
				}
				.avathar {
					margin-left: 5px;
					height: 30px;
					width: 30px;
				}
			}
			.dropdown-menu {
				position: absolute;
				left: 0;
				top: 50px;
				display: none;
				padding: 0;

				.dropdown-item {
					display: flex;
					justify-content: center;
					background: var(--header-bg);
					padding: 5px;
					height: 45px;
					line-height: 45px;
					position: relative;

					&:hover {
						background:  var(--nav-item-hover-bg);
					}
				}
			}
		}
	}
}