main {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 1fr;

	.container {
		background: var(--container-bg);
		grid-column: 2 / 3;
		padding: 20px;
	}
	.user_avatar {
		position: relative;

		.add_avatar{
			display: none;
		}

		&:hover .add_avatar {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #0004;

			input[type="file"] {
				display: none;
			}
			 span {
				position: absolute;
				top: 50%;
       			left: 50%;
       			transform: translate(-50%, -50%);  
			}
		}

		/* .new_avatar_link {
			display: none;
		}
		&:hover .new_avatar_link {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;

			
		} */
	}
}