@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;

0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap);:root {

/*  App  */
	 /*Body*/
		--body-bg: #f8fafc;
		--color-base: #2c2c2a;
		--container-bg: #bbb;
	 /*Header*/
		--header-bg: #aaa;
		--nav-item-hover-bg: #bbb;

 /*Typography*/
	--font-family: 'Poppins', sans-serif;
	--font-size-base: 0.9rem;
	--line-height-base: 1.6;

 /*Invalid*/
	--invalid-color: #a44;
	--invalid-bg: #b22;
	--invalid-bd: #d11;

 /*Alert*/
	 /*Success*/
		--alert-success-bg: #5d8;
		--alert-success-bd: 1px solid #295;
	 /*Error*/
		--alert-error-bg: #d55;
		--alert-error-bd: 1px solid #922;


 /*Adaptive*/
	--screen-sm: 576px;
	--screen-md: 768px;
	--screen-lg: 992px;
	--screen-xl: 1200px;
}

 /*                   Theme                   */

[dark] {
	--color-base: #cacfcd;
	--body-bg: #222;
	--header-bg: #444;
	--nav-item-hover-bg: #777;
	--container-bg: #333;
} 
body {
  color: var(--color-base);
  background: var(--body-bg);
  font-family: var(--font-family);
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

header {
  display: grid;
  height: 50px;
  padding-right: 150px;
  padding-left: 150px;
  background: var(--header-bg);
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

header .brand {
  align-self: center;
  justify-self: start;
}

header .navbar {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

header .navbar .nav-item {
  display: flex;
  padding: 5px;
  align-items: center;
}

header .navbar .nav-item:hover {
  background: var(--nav-item-hover-bg);
}

header .navbar .dropdown {
  display: flex;
  justify-content: center;
  width: 150px;
  position: relative;
}

header .navbar .dropdown:hover .dropdown-menu {
  width: 100%;
  display: block;
}

header .navbar .dropdown .dropdown-lebel {
  display: flex;
  text-decoration: none;
  align-items: center;
  transition: all, 0.5s;
}

header .navbar .dropdown .dropdown-lebel:hover {
  background: var(--nav-item-hover-bg);
}

header .navbar .dropdown .dropdown-lebel .avathar {
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

header .navbar .dropdown .dropdown-menu {
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  padding: 0;
}

header .navbar .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: center;
  background: var(--header-bg);
  padding: 5px;
  height: 45px;
  line-height: 45px;
  position: relative;
}

header .navbar .dropdown .dropdown-menu .dropdown-item:hover {
  background: var(--nav-item-hover-bg);
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

main .container {
  background: var(--container-bg);
  grid-column: 2/3;
  padding: 20px;
}

main .user_avatar {
  position: relative;
  /* .new_avatar_link {
  	display: none;
  }
  &:hover .new_avatar_link {
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;


  } */
}

main .user_avatar .add_avatar {
  display: none;
}

main .user_avatar:hover .add_avatar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0004;
}

main .user_avatar:hover .add_avatar input[type=file] {
  display: none;
}

main .user_avatar:hover .add_avatar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tags_list,
.genres_list {
  display: flex;
}

.tags_list li,
.genres_list li {
  margin-left: 7px;
}

.alert .alert_error {
  background: var(--alert-error-bg);
  border: var(--alert-error-bd);
}

.alert .alert_success {
  background: var(--alert-success-bg);
  border: var(--alert-success-bd);
}

.is-invalid {
  background-color: var(--invalid-color);
  border-color: var(--invalid-bd);
}

.invalid-feedback {
  color: var(--invalid-color);
}

.user_card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.user_card .user_avatar {
  height: 400px;
  width: 400px;
}

.user_card .user_name h1 {
  font-size: 50px;
}

